<section class="choose-wrp animate__animated" id="choose" #choose>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <h3>Why Choose Us ?</h3>
                <p class="sub-text font-weight-bold">
                    Outstanding Performance and Team Selection
                </p>
                <div class="text-blue mb-4 col-xl-8 ml-auto mr-auto">
                    We selected expert team members around the world, who
                    shared their knowledge and expertise to modernize device
                    following features.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="choose-box">
                    <div class="row">
                        <img
                            class="img-fluid choose-icons"
                            src="./../../../assets/img/dashboard/choose/security.png"
                        />
                        <div class="col">
                            <h5 class="text-blue">Security and Safety</h5>
                            <p>
                                We built the device to meet the challenges
                                of safety and security. ArkallyGPS Green
                                Zone provides a useful feature for a safe
                                and secure ride of watercraft. Moreover,
                                Intelligent Distance Control (IDC) system
                                reduces the risk of accidents and
                                collisions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="choose-box">
                    <div class="row">
                        <img
                            class="img-fluid choose-icons"
                            src="./../../../assets/img/dashboard/choose/intelligent.png"
                        />
                        <div class="col">
                            <h5 class="text-blue">
                                Total control over your jet ski: Sea Doo and
                                Yamaha
                            </h5>
                            <p>
                                ArkallyGPS system manages complete throttle
                                without any interference on the jet ski.
                                With our device, we solved the problem of
                                starting a jet ski after prolonged non-use
                                of the system. ArkallyGPS has the option to
                                turn off the engine so your customer can't
                                turn it on until you approve the same.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="choose-box">
                    <div class="row">
                        <img
                            class="img-fluid choose-icons"
                            src="./../../../assets/img/dashboard/choose/remotely.png"
                        />
                        <div class="col">
                            <h5 class="text-blue">
                                Remotely Controllable Watercraft
                            </h5>
                            <p>
                                After installing this device, you can
                                control remotely watercraft speed limit,
                                engine control, GPS location, and much more.
                                The watercraft data will be available at
                                your ﬁngertips. You can extract data
                                according to your need anytime, anywhere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="choose-box">
                    <div class="row">
                        <img
                            class="img-fluid choose-icons"
                            src="./../../../assets/img/dashboard/choose/cloud.png"
                        />
                        <div class="col">
                            <h5 class="text-blue">Cloud Data Storage</h5>
                            <p>
                                We are introducing real-time interaction
                                with the cloud-based database to access
                                intelligently organized data. It provides
                                complete information you need to run your
                                watercraft business professionally.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img
        class="img-fluid img-right"
        src="./../../../assets/img/dashboard/choose/bluemap-01.png"
    />
</section>