<footer>
    <section id="footer" class="p-0">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <img src="./../../../assets/img/dashboard/footer/footer logo-01.svg" width="300" class="img-fluid
                            logo-footer-img mb-4" />
                    <div class="col-md-6 d-flex align-items-center">
                        <p class="text-white">ArkallyGPS device advanced real-time location tracking and remotely
                            control your watercraft. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-7 d-flex align-items-end">
                        <div class="row w-100 mw-auto">
                            <div class="col-sm-12 col-md-4 ">
                                <div class="footer-part1 text-center">
                                    <div class="footer-img"><img width="60" height="60"
                                            src="./../../../assets/img/dashboard/footer/homeaddress-01.svg"
                                            class="img-fluid logo-footer-img"></div>
                                    <div class="footer-text
                                            text-white">Mirinovo ulica, 20000 </div>
                                    <div class="footer-text2
                                            text-white">Dubrovnik, Croatia</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="footer-part1 text-center">
                                    <div class="footer-img"><img width="60" height="60"
                                            src="./../../../assets/img/dashboard/footer/email-01.svg"
                                            class="img-fluid logo-footer-img"></div>
                                    <div class="footer-text
                                            text-white">Email</div>
                                    <div class="footer-text2 text-white">info@arkally.com
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="footer-part1 text-center">
                                    <div class="footer-img"><img width="60" height="60"
                                            src="./../../../assets/img/dashboard/footer/phone-01.svg"
                                            class="img-fluid logo-footer-img"></div>
                                    <div class="footer-text
                                            text-white">Phone</div>
                                    <div class="footer-text2 text-white">+385 91 600 1201
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12
                            col-md-12 col-lg-5 d-flex align-items-end flex-column">
                        <div class="subscribes-box w-100">
                            <div class="col-sm-12 col-lg-10 col-md-6 col-cented m-mt-5">
                                <h5 class="mt-0">Subscribes</h5>
                                <form>
                                    <div class="mb-3 mt-20"> <input type="email" class="form-control email-input"
                                            placeholder="Email"> </div> <a
                                        class="btn success width100 mt-20 m-mt-1">Submit</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center"> Copyright © 2021 ArkallyGPS Systems</div>
                </div>
            </div>
        </div><!-- copy-right -->

    </section>
</footer>