<section class="top-banner" style="min-height: 100vh;" id="none">
  <img
    class="img-fluid img-left"
    src="./../../../assets/img/dashboard/top-banner/bluemapcircle-01.png"
  />
  <div class="container">
    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-6 animate__animated"
        id="step1"
        #step1
      >
        <img
          class="img-fluid logo-footer-img mb-4"
          src="./../../../assets/img/dashboard/footer/footer logo-01.svg"
          width="200"
        />
        <h3 class="text-teal about-box">
          Email Verification
        </h3>
        <div class="sub-text text-white font-weight-normal">
          Click the following link to verify your email.
        </div>
        <a class="btn success" (click)="onVerify()">Verify</a>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-6 m-center animate__animated"
        id="step2"
        #step2
      >
        <img
          class="img-fluid transform-dash-img"
          src="./../../../assets/img/dashboard/top-banner/bannerimage.png"
        /><img
          class="img-fluid img-right"
          src="./../../../assets/img/dashboard/top-banner/yellowmapcircle-01.png"
        />
      </div>
    </div>
  </div>
</section>
